<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}ninshirts.com{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-763021-25']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div class="container_12">
<h1>ninshirts.com</h1>
<div id="top_nav">
<div class="gird_12">
{% include "catalog/topnav.html" %}
</div>
<div class="clear"></div>
</div>
<div id="side_nav">
<div class="grid_3">
{% include "catalog/sidenav.html"  %}
</div>
</div>
<div class="grid_9">
<div class="grid_9">
{% block banner %}{% endblock %}
</div>
<div class="grid_9">
{% block content %}{% endblock %}
</div>
</div>
<div class="clear"></div>
<div class="grid_12"><p>Footer</p></div>
</div>
</body>
</html>