{% extends 'catalog/base.html' %}

{% block title %}{{ category.name }}{% endblock %}
{% block banner %}<h2>{{ category.name }}</h2>{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function(){
		$('.browseImage').hover(function() {
			 var $this = $(this);
			 $this.next().fadeIn();
		},
		function() {
			 var $this = $(this);
			 $this.next().fadeOut();
		})
	});
</script>
<div class="prefix_5 grid_4"><p>Pagination and filters</p></div>
<div id="products">
{% for product in category.products %}
{% if forloop.counter0|divisibleby:"3" %}
{% endif %}
<div class="grid_3{% if forloop.counter0|divisibleby:"3" %} alpha{% endif %}{% if forloop.counter0|add:"-2"|divisibleby:"3" %} omega{% endif %} productContainer">
    <a href="{% url apps.catalog.views.product category.tag product.tag %}">
        <img class="browseImage" src="{{ product.productimage_set.all.0.thumbnail.url }}"/>
		<div class="title">{{product.name}}</div>
    </a>
</div>
{% endfor %}
</div>

{% comment %}
<div class="alpha grid_3"><p>img</p></div>
<div class="grid_3 omega"><p>img</p></div>
{% block content %}
<div class="grid_16">
<p><a href="{% url ninshirts.catalog.views.index %}">ninshirts.com</a></p>
</div>
<div class="clear"></div>
{% for product in category.product_set.all %}
<div class="grid_3{% if forloop.first %} prefix_5{% endif %}{% if forloop.last %} suffix_5{% endif %}">
<p><a href="{% url ninshirts.catalog.views.product category.tag product.tag %}">{{ product.name }}</a></p>
</div>
{% endfor %}
{% endcomment %}
{% endblock %}