{% extends 'catalog/base.html' %}

{% block content %}
<div id="imageContainer">
	<div id="imageDetail">
		<img src="/media/{{ product.front.url }}">
	</div>
	{% if product.back %}
	<div id="imageViews">
		{% comment %}
		<!-- I would like to process images upon upload, creating several size images - detail, zoom, and thumbnail. 
		Anchor tags below would be to detail, img tags use thumbnail. 
		Javascript would load the detail upon clicking the thumbnail. Rather than just front and back, a 'view' system might be nice - views a,b,c, etc.-->
		{% endcomment %}
		<ul>
			<li><a href="{{ product.front.url }}"><img src="{{ product.front.url }}"></a></li>
			<li><a href="{{ product.back.url }}"><img src="{{ product.back.url }}"></a></li>
		</ul>
	</div>
	{% endif %}
</div>
<div id="productDetail">
	<h2>{{ product.name }}</h2>
	<div id="productDescription">
		{% if product.color != "n/a" %}{{ product.color }} {% endif %}
		{% for category in product.categories.all %}{% if category == "Men's" or "Women's" %}{{ category }} {% endif %}{% endfor %} 
		{% comment %}<!-- Rather than have t-shirt,hoodie,litho, etc. as a category, I would like to set those up as a 'productType' -->{% endcomment %}
		{{ product.description }} 
	</div>
	<div id="relations">
		{{ product.categories.all|join:', ' }}
	</div>
</div>
{% endblock %}

