body {
    background-color: #111111;
    color: white;
}

h1, h2, p {
    text-align: center;
	font-family: maven-pro, serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

li.l2 {
    position: relative;
    left: 15px;
}

li.l3 {
    position: relative;
    left: 30px;
}

#top_nav p {
    background-color: #500000;
}

#products p {
    background-color: #999999;
    height: 100px;
    padding-top: 80px;
}

#product {
    text-align: center;
}

#product ul {
    text-align: left;
}



#footer  ul{
	margin:20px;
	overflow:auto;
	text-align:center;
}

#footer ul li{	
	display:inline;
	margin-left:0;
	padding:10px;
	border-right:1px solid white;
}
#footer ul li.last{
	border:0;
}


/******* PRODUCT DETAIL *******/

#imageDetail img{
	height:200px;
	width:200px;
}

#imageViews ul{
	padding:0px;
	margin:0px;
	list-style:none;
}

#imageViews ul li{
	float:left;
	margin:0;
}

#imageViews img{
	height:100px;
	width:100px;
}
#imageContainer{
	float:left;
	padding:10px;
}
#productDetail{
float:left;
}

#productDetail h2{
text-align:left;
}
#productDescription{
	padding:10px;
}
body {
    background-color: #111111;
    color: white;
}

h1, h2, p {
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

li.l2 {
    position: relative;
    left: 15px;
}

li.l3 {
    position: relative;
    left: 30px;
}

#top_nav p {
    background-color: #500000;
}

#products p {
    background-color: #999999;
    height: 100px;
    padding-top: 80px;
}

#product {
    text-align: center;
}

#product ul {
    text-align: left;
}

/******* PRODUCT BROWSE *******/

.title{
	background-color:#333;
	background: rgb(75, 75, 75) transparent;
	background: rgba(75, 75, 75, 0.9);
	padding:5px;
	margin-top:-200px;
	width:190px;
	position:absolute;
	text-align:center;
	display:none;
}

.browseImage{
height:200px;
width:200px;
}

.productContainer{

margin-bottom:40px;
}


/* Top navigation */

#topNav ul{
	height:100px;
	}
#topNav ul li{
	float:left;
	margin:0;
	margin-right:20px;
	background-color:rgb(80,0,0);		
}
#topNav ul li a{
	display:block;
	padding: 22px 32px 22px 32px;
	height:20px;	
	font-family: maven-pro, serif;	
	font-size:1.3em;
	line-height:1;
}

#siteTitle{
	float:left;
}
#top_nav{
	float:right;
}
#top_nav ul{
margin-bottom:0;
}
#siteTitle{
	padding:12px 30px 0 0;
}
#header{
	padding-left:30px;
	padding-top:20px;
	overflow:auto;
}
