<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}ninshirts.com{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
</head>
<body>
<div class="container_12">
<h1>ninshirts.com</h1>
<div id="top_nav">
<div class="grid_2"><p>Shirts</p></div>
<div class="grid_3"><p>Other Apparel</p></div>
<div class="grid_2"><p>Accessories</p></div>
<div class="grid_3"><p>Posters/Prints</p></div>
<div class="grid_2"><p>Media</p></div>
<div class="clear"></div>
</div>
<div class="grid_3">
<ul>
    <li class="l1">Shirts</li>
    <li class="l2">T-Shirts</li>
    <li class="l2">Thermal T's</li>
    <li class="l2">Tank Tops</li>
    <li class="l1">Other Apparel</li>
    <li class="l1">Accessories</li>
    <li class="l1">Posters/Prints</li>
    <li class="l1">Media</li>
</ul>
</div>
<div class="grid_9">
<div class="grid_9">
{% block banner %}{% endblock %}
</div>
<div class="grid_9">
{% block content %}{% endblock %}
</div>
</div>
<div class="clear"></div>
<div class="grid_12"><p>Footer</p></div>
</div>
</body>
</html>