<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>ninshirts.com</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/960.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
</head>
<body>
<div class="container_16">
</div>
</body>
</html>