{% extends 'catalog/base.html' %}

{% block banner %}<h2>{{ product.name }}</h2>{% endblock %}

{% block content %}
<div id="product">
<div class="grid_9 alpha omega">
    <img width="200" height="200" src="/media/{{ product.front.url }}"/>
    {% if product.back %}<img width="200" height="200" src="/static/img/{{ product.back.url }}"/>{% endif %}
</div>
<div class="grid_9">&nbsp;</div>
<div class="grid_9 alpha omega">
<ul>
<li>Description: {{ product.description }}</li>
<li>Color: {{ product.color }}</li>
<li>Categories: {{ product.categories.all|join:', ' }}</li>
</ul>
</div>
</div>
{% endblock %}

